body{

    background-image: linear-gradient(to right, gold , rgb(253, 115, 1));
    
  
}


h1{
    background-color: brown;
    color: chartreuse;
    text-align: center;
    font-size: 50px;
    
    
}
h3{
    color: Red;
    font-size: 44px;
    
    height: 27px;
    width: 77px;
}
ul.li{
    color: orangered;
    text-decoration: none;
}
li{
    color: blue;
}
a{
    color: rgb(255, 72, 0);
    text-decoration :none;
}
footer {
   color: darkred;
   text-align:center;
}

/* css for other subjects  */
ol{color: yellow;
}
a{
    color: black;
    text-decoration: none;
}
h2{ 
    color: rgb(8, 8, 8);
}

/* above css is for Mathematics Units  */
.menu{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px));
    margin: auto;
}
.sub{
    border: 1px solid rgb(39, 8, 80);
text-align: center;
background-color: aqua ;
}


h4{
    color: blue;
}


/* above  CSS is for Mathematics Topics */


/* below code is for all division  */
  div {
    list-style: decimal;
  }
  